.bg-gradient-data-intel-header {
  background: linear-gradient(135deg, #22f9c7 0, #06d5e8 100%) !important;
}

.btn-data-intel {
  color: #06D5E8;
}

.bg-gradient-dark {
  background-color: rgba(64, 64, 64, 0.95);
}